V súťaži {{ competition.name }} pribudli nové zápasy!

Nové zápasy:

{{#matches}}
{{.}}
{{/matches}}

Ak chceš zmeniť nastavenia odoberania, znova vyplň formulár s tým istým emailom na stránke kurzio.sk .

Ak si praješ zrušiť odoberanie, klikni na nasledovný link:

{{{ unsubscribeUrl }}}

--
kurzio.sk