V súťaži {{ competition.name }} pribudli nové zápasy!

Nové zápasy:

{{#matches}}
{{.}}
{{/matches}}

Link: https://www.tipsport.sk/kurzy/tenis-43

Ak si chceš zmeniť nastavenia odoberania, vytvor novú žiadosť s tým istým emailom na stránke kurzio.sk .

Ak si praješ zručiť odoberanie, klikni na nasledovný link:

--
kurzio.sk