Notifikačný bot pre ponuku na webe tipsport.sk .

Zoznam príkazov:

/list - zoznam všetkých súťaží
/track - zapni notifikácie pre súťaž
/untrack - vypni notifikácie pre súťaž
/help - zobrazí zoznam príkazov
/settings - aktuálne nastavenia notifikácií
/support - kontakt podpory (vývojára bota)

Odporúčaný postup je zobraziť si všetky súťaže príkazom /list a vyklikať si tie, ktoré ťa zaujímajú.

/list