Notifikačný bot pre ponuku na webe tipsport.sk .

Zoznam príkazov:

/list - zoznam všetkých súťaží
/sports - zoznam všetkých športov
/track - zapni notifikácie pre súťaž
/untrack - vypni notifikácie pre súťaž
/tracksport - zapni notifikácie pre nové súťaže v športe
/untracksport - vypni notifikácie pre nové súťaže v športe
/trackmatch - zapni notifikácie pre novú kurzovú ponuku v zápase
/untrackmatch - vypni notifikácie pre novú kurzovú ponuku v zápase
/trackquery - zapni notifikácie pre query
/untrackquery - vypni notifikácie pre query
/help - zobrazí zoznam príkazov
/settings - aktuálne nastavenia notifikácií
/support - kontakt podpory (vývojára bota)

Ak chceš dostávať notifikácie na nové zápasy v nejakej súťaži, odporúčaný postup je zobraziť si všetky súťaže príkazom /list a vyklikať si tie, ktoré ťa zaujímajú.

/list

Ak chceš dostávať notifikácie na nové súťaže v nejakom športe, odporúčaný postup je zobraziť si všetky športy príkazom /sports a vyklikať si tie, ktoré ťa zaujímajú.

/sports

Zapnutie notifikácií pre rozšírenú kurzovú ponuku príkazom /trackmatch je momentálne možné len kliknutím na príkaz v notifikácii o nových zápasoch.

Notifikácie pre query (napr. meno "Djokovič" v názve zápasu) sa zapínajú príkazom /trackquery .

Vypnutie notifikácií je najľahšie spraviť príkazom /settings .