Prosím zadaj príkaz spolu s ID súťaže, pre ktorú chceš vypnúť notifikácie.

/untrack_{ID}

Najpraktickejšie je zobraziť všetky sledované súťaže príkazom /settings a následne si vyklikať tie, ktoré chceš prestať sledovať.

/settings