Píšem ti správu, lebo na Tipsporte sú nové kurzy na šport {{ sportName }}.

Názov súťaže: {{ competition }}

Ak chceš zmeniť nastavenia odoberania, znova vyplň formulár s tým istým emailom na stránke kurzio.sk .

Ak si praješ zrušiť odoberanie, klikni na nasledovný link:

{{{ unsubscribeUrl }}}

--
kurzio.sk