Prosím zadaj príkaz spolu s ID zápasu, pre ktorú chceš vypnúť notifikácie.

/untrackmatch_{ID}

Najpraktickejšie je zobraziť všetky sledované zápasy príkazom /settings a následne si vyklikať tie, ktoré chceš prestať sledovať.

/settings