Prosím zadaj príkaz spolu s ID query, pre ktoré chceš vypnúť notifikácie.

/untrackquery_{ID}

Najpraktickejšie je zobraziť všetky sledované queries príkazom /settings a následne si vyklikať tie, ktoré chceš prestať sledovať.

/settings