Nové zápasy v súťaži <b>{{ competitionName }} ({{ subsport }})</b>:

{{ #newMatches }}
<b>{{ name }}</b>
{{ #odds }}
{{ label }}: <i>{{ odd }}</i>
{{ /odds }}
{{ notificationCommand }}

{{ matchUrl }}

{{ /newMatches }}

Link na súťaž:

{{ competitionUrl }}