{{ #followsSports }}Notifikujem ťa, keď pribudne súťaž v nasledovných športoch:

{{ #sports }}
<b>{{ name }}</b>
{{ untrackCommand }}

{{ /sports }}{{ /followsSports }}

{{ #followsCompetitions }}Notifikujem ťa, keď pribudnú zápasy v nasledovných súťažiach:

{{ #competitions }}
<b>{{ name }} ({{ subsport }})</b>
{{ untrackCommand }}

{{ /competitions}}{{ /followsCompetitions }}

{{ #followsMatches }}Notifikujem ťa, keď sa rozšíri kurzová ponuka v nasledovných zápasoch:

{{ #matches }}
<b>{{ matchName }} ({{ competitionName }})</b>
{{ untrackCommand }}

{{ /matches}}{{ /followsMatches }}